*{
    box-sizing: border-box;
}

img {
    max-width:100%;
}

body {
   /* background-image: url(./assets/blue-bkgd.png) repeat center fixed; */
     background:rgb(199, 220, 234);
    transition: background .5s;
}

h1 {
    font-family: 'darumadrop one', sans;
    font-size:55px;
    color: rgb(36, 26, 19);
    text-shadow: 2px solid whitesmoke;
}

h3 {
    font-family: 'arial narrow', sans;
    font-size: 18px;
    color: rgb(36, 26, 19);
    background-color: rgb(218, 244, 152);
}
p {
    font-family: 'arial narrow', sans;
    font-size: 18px;
    color: rgb(36, 26, 19);
}
.container {
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width:1100px;
    margin:0 auto;
}

main {
    display: flex;
    gap: 10px;
}


header,
.left,
.center,
.right, .center-pages,
footer {
    border: 1.5px rgb(48, 44, 40) solid;
    padding: 17px;
    outline: 3px solid rgb(241, 199, 163);
    border-radius: 3px;
}

.center {
    width:50%;
    background: url(./assets/transparent-sparkles.gif) repeat center fixed;
    background-color: whitesmoke;
}

.center-pages {
    width:50%;
    background-color: whitesmoke;
}

.left, .right {
    width:25%;
    
}

.left {
    background-color: rgb(231, 240, 220);
}

.right {
    background: url(./assets/transparent-sparkles.gif) repeat center fixed;
    background-color: whitesmoke
}
header {
    /*background-color: rgb(218, 244, 152); */
    background: url(./assets/orange-gingham.gif)  repeat center fixed;
    align-items: center;
    text-align: center;
    height: auto;
    max-height: fit-content;
}

.header-title {
    font-family: 'darumadrop one', sans;
    font-size:55px;
    color: rgb(36, 26, 19);
}


.hamster-cup {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.contain {
    padding: 5px;
}

.bar {
    text-align: left;
    width: 100%;
    height: auto;
    border: 1px dotted rgb(36, 26, 19);
    background-image: linear-gradient(#d4efb1 0%, white 50%,  #d4efb1 100%);
    padding: 5px;
    margin: 2px;
    margin-left:-5px;
    color: rgb(36, 26, 19);
    font-family: 'arial narrow', sans;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    
}


.nav {
    font-family: 'arial narrow', sans;
    font-size: 18px;
    color: rgb(36, 26, 19);
    line-height: 25px;
    background-color: whitesmoke;
    border: 1px solid rgb(36, 26, 19);
    border-radius:3px;
    padding: 5px;
    margin: 1px;

}

.container-pages {
    font-family: 'arial narrow', sans;
    font-size: 18px;
    width: auto;
    color: rgb(36, 26, 19);
    line-height: 25px;
    background-color: whitesmoke;
    border: 1px solid rgb(36, 26, 19);
    border-radius:3px;
    padding: 5px;
    margin: 1px;

}

.blinkies {
    width: 200px;
    height: auto;
}


.interest-right {
    background-color: whitesmoke;
    border: 1px solid rgb(36, 26, 19);
    border-radius:3px;
    padding: 5px;
    margin: 1px;
}

.interest-bar {
    text-align: left;
    width: 105%;
    height: auto;
    border: 1px dotted rgb(36, 26, 19);
    /* border: 1px solid rgb(36, 26, 19);
    border-radius: 5px; */
    background-image: linear-gradient(#d4efb1 0%, white 50%,  #d4efb1 100%);
    padding: 7px;
    margin: 2px;
    margin-left:-5px;
    color: rgb(36, 26, 19);
    font-family: 'arial narrow', sans;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    
}

.river-img {
    width: 100px;
    height: auto;}

.music-title {
    width: auto;
}

footer {
    background-color: rgb(218, 244, 152);
    text-align: left;
    font-family: 'arial narrow', sans;
    font-size: 18px;
    color: rgb(36, 26, 19);
}


/* min-width = mobile first */
/* for mobile-first, we want our media queries to increase in pixel size as we move down our css document */

/* max-width = desktop first */
/* for desktop-first, we want our media queries to decrease in pixel as we move down our css document */

@media screen and (max-width:1000px)
{
    body {
        background: rgb(251, 197, 205)
    }
}

@media screen and (max-width:800px)
{
    body {
        background: rgb(255, 239, 182)
    }
}
